@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="checkbox"] {
    accent-color: theme("colors.white");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* input[type="checkbox"]::before {
    content: "";
    width: 9px;
    height: 8px;
    clip-path: polygon(
      22% 33%,
      3% 57%,
      36% 89%,
      70% 50%,
      100% 20%,
      80% 0%,
      36% 50%
    );
    transform: scale(0);
    background-color: theme("colors.[purple][50]");
    align-items: center;
    display: flex;
  }*/

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .checkbox {
    z-index: -100;
  }

  .overflow-y-auto {
    overflow-y: scroll;
  }
  .style-1::-webkit-scrollbar {
    width: 6px;
    background-color: blue;
  }
  .style-1::-webkit-scrollbar-thumb {
    background-color: theme("colors.[purple][600]");
  }
  .style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
}

.highlight {
  animation: highlight-animation 1s infinite;
}

@keyframes highlight-animation {
  0%,
  100% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
}
